<body>
<% gossip = Gossip.find(params[:gossip_title])%>
  <h1> Titre: <%=gossip.title%></h1>
  <% author = gossip.user %>
  <% link_author = "/user/"+author.id.to_s%>
  <% link_edit = "/gossip/" + gossip.id.to_s + "/edit" %>
  <p> Auteur : <%= link_to "#{author.pseudo}",link_author%></p>
  <p> Date de création : <%=gossip.created_at%> </p>
  <p> Dernière mise a jour : <%=gossip.updated_at%> </p> 
  <%= gossip.content %>
  <p><%= link_to "Modifier",link_edit%> </p>
  <h3>Commentaires : </h3>
  <% (gossip.comments).each do |com| %>
    <% author = com.user %>
    <% link_author = "/user/"+author.id.to_s%>
    <% comment = Comment.find(com.id) %>
    <p><%= "Auteur :" %>
    <%= link_to "#{author.pseudo}",link_author%></p>
    <p> <%=comment.content%></p>
    <% end %>
</body>
